# Lab 0 - Part I: Drama of Love

In this lab, we will use python to simulate when two people will fall in love. After finishing this lab, you should be able to understand the basic concepts of python programming and how to use it to solve real-world problems. Before you start, here are some important things you need to know:

- Please read the instructions and code templates carefully.
- Please make sure you run all the code cells from top to bottom.
- Please change the parts of the code that read `# CHANGE THIS` or `# YOUR CODE HERE`.

## Basic Syntax

In [7]:
# JUST RUN THE CODE TO SEE THE OUTPUT
boy_name = "Romeo"
girl_name = "Juliet"
print("Romeo and Juliet are in love.")
print(f"{boy_name} and {girl_name} are in love.")

Romeo and Juliet are in love.
Romeo and Juliet are in love.

In [8]:
# CHANGE THE VALUES
boy_name = "put your name here"
girl_name = "put your name here"
print("Romeo and Juliet are in love.")
print(f"{boy_name} and {girl_name} are in love.")

Romeo and Juliet are in love.
put your name here and put your name here are in love.

In [3]:
# notice we are not using quotes for numbers
a = 2
b = 3
c = a + b
d = True
e = False
print(a, b, c, d, e)
print("The sum of a and b is", c)
print("== means equal to", a == b)
print("== means equal to", c == a + b)
print("!= means not equal to", a != b)
print("> means greater than", a > b)
print("< means less than", a < b)

2 3 5 True False
The sum of a and b is 5
== means equal to False
== means equal to True
!= means not equal to True
> means greater than False
< means less than True

In [15]:
# Let's construct a list
list_of_numbers = [1, 2, 3, 4, 5]
print("The list of numbers is", list_of_numbers)
for x in list_of_numbers:
    print("-" * 10)
    print(x)
    print("My favorite number is", x)
    print(x+3)

The list of numbers is [1, 2, 3, 4, 5]
----------
1
My favorite number is 1
4
----------
2
My favorite number is 2
5
----------
3
My favorite number is 3
6
----------
4
My favorite number is 4
7
----------
5
My favorite number is 5
8

## When do two people fall in love?

It is safe to say that two people fall in love when they have a lot in common. Now, run the following code to see what kind of table we can create to represent the commonalities between two people.

In [3]:
import pandas as pd  # import the pandas library

names = ["Romeo", "Juliet", "Hamlet", "Ophelia"]
gender = ["male", "female", "male", "female"]
ages = [16, 14, 30, 28]
like_colors = ['red', 'red', 'blue', 'pink']

df = pd.DataFrame({
    "name": names,
    "gender": gender,
    "age": ages,
    "like_colors": like_colors
})

df

      name  gender  age like_colors
0    Romeo    male   16         red
1   Juliet  female   14         red
2   Hamlet    male   30        blue
3  Ophelia  female   28        pink

In [17]:
# to simulate a real world data, we write a function to generate random data
def generate_people(number_of_people: int):

    # import libraries we will use
    import random
    import pandas as pd

    # set random seed for reproducibility
    random.seed(666)

    # generate random names with 6 characters
    names = [''.join(random.choices('abcdefghijklmnopqrstuvwxyz', k=6)) for _ in range(number_of_people)]

    # generate ages between 16 and 60
    ages = [random.randint(16, 60) for _ in range(number_of_people)]

    # generate colors from rainbow colors
    rainbow_colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
    like_colors = [random.choice(rainbow_colors) for _ in range(number_of_people)]

    # generate genders (assuming binary gender)
    genders = [random.choice(['Male', 'Female']) for _ in range(number_of_people)]

    # Create a DataFrame
    df = pd.DataFrame({
        'Name': names,
        'Age': ages,
        'Like_Color': like_colors,
        'Gender': genders
    })

    return df

In [19]:
# CHANGE THE NUMBER OF PEOPLE
# please use an even number that is less or equal to 20
number_of_people = 4 
random_people = generate_people(number_of_people)
random_people

     Name  Age Like_Color Gender
0  lxlnvo   35     orange   Male
1  sdvkqx   29     indigo   Male
2  zazcre   55        red   Male
3  xpksnc   18       blue   Male

Now, I will generate a table that will have 20 observations and check if two people fall in love by:

- Checking if they have the same favorite color.
- Assuming the age difference is less than 5 years.
- No assumptions on gender, meaning that two people can fall in love regardless
    of their gender.

In [23]:
simulated_data = generate_people(20)
simulated_data

      Name  Age Like_Color  Gender
0   lxlnvo   41     yellow  Female
1   sdvkqx   34     orange    Male
2   zazcre   20     yellow    Male
3   xpksnc   22     indigo    Male
4   yiqdxn   24        red    Male
5   btvabt   34        red  Female
6   glfaln   46     yellow    Male
7   ytvxun   16     orange    Male
8   kyzczs   33      green    Male
9   ukxmln   46       blue  Female
10  lkwioj   56      green  Female
11  dntpwm   47      green    Male
12  jfmown   30        red    Male
13  suuzym   36     yellow  Female
14  xclkjh   17        red  Female
15  gbgglh   54     orange    Male
16  lmacuc   35     yellow  Female
17  uuikti   43        red  Female
18  zwvryq   55       blue    Male
19  sknyez   58      green  Female

Since we have 20 people, we will match each person with every other person to see if they can fall in love or not. Now, let's start from the first person - **lxlnov**.

In [50]:
# get lxlnov profile
lxlnov_profile = simulated_data[simulated_data['Name'] == 'lxlnvo'].copy()
lxlnov_profile['age_diff_with_lxlnvo'] = None
lxlnov_profile['color_match_with_lxlnvo'] = None
lxlnov_profile

     Name  Age Like_Color  Gender age_diff_with_lxlnvo color_match_with_lxlnvo
0  lxlnvo   41     yellow  Female                 None                    None

In [52]:
# begin the comparison
def match_profile_with_lxlnov(lxlnov_profile, simulated_data):
    for i, row in simulated_data.iloc[1:].iterrows():
        age_diff = abs(lxlnov_profile['Age'].values[0] - row['Age'])
        color_match = lxlnov_profile['Like_Color'].values[0] == row['Like_Color']
        temp_row = row.copy()
        temp_row['age_diff_with_lxlnvo'] = age_diff
        temp_row['color_match_with_lxlnvo'] = color_match

        # make temp_row a DataFrame
        temp_df = pd.DataFrame([temp_row])

        # append temp_df to lxlnov_profile
        lxlnov_profile = pd.concat([lxlnov_profile, temp_df], ignore_index=True)

    return lxlnov_profile

matched_profile = match_profile_with_lxlnov(lxlnov_profile, simulated_data)

matched_profile

,Name,Age,Like_Color,Gender,age_diff_with_lxlnvo,color_match_with_lxlnvo
0,lxlnvo,41,yellow,Female,None,None
1,sdvkqx,34,orange,Male,7,False
2,zazcre,20,yellow,Male,21,True
3,xpksnc,22,indigo,Male,19,False
4,yiqdxn,24,red,Male,17,False
5,btvabt,34,red,Female,7,False
6,glfaln,46,yellow,Male,5,True
7,ytvxun,16,orange,Male,25,False
8,kyzczs,33,green,Male,8,False
9,ukxmln,46,blue,Female,5,False
10,lkwioj,56,green,Female,15,False
11,dntpwm,47,green,Male,6,False
12,jfmown,30,red,Male,11,False
13,suuzym,36,yellow,Female,5,True
14,xclkjh,17,red,Female,24,False
15,gbgglh,54,orange,Male,13,False
16,lmacuc,35,yellow,Female,6,True
17,uuikti,43,red,Female,2,False
18,zwvryq,55,blue,Male,14,False
19,sknyez,58,green,Female,17,False

In [55]:
# only age_diff_with_lxlnvo <= 5 and color_match_with_lxlnvo == True
matched_profile[
    (matched_profile['age_diff_with_lxlnvo'] <= 5)
    & (matched_profile['color_match_with_lxlnvo'] == True)
    ]

,Name,Age,Like_Color,Gender,age_diff_with_lxlnvo,color_match_with_lxlnvo
6,glfaln,46,yellow,Male,5,True
13,suuzym,36,yellow,Female,5,True

The above code shows that there are 2 people who can fall in love with **lxlnov**:

- glfaln, with age 46 and favorite color yellow.
- suuzym, with age 36 and favorite color yellow.

## Reference of using ChatGPT

- https://chat.openai.com/share/e61b6ef7-30ee-4252-ada2-77f554513754