# Lab 0 - Part I: Drama of Love

In this lab, we will use python to simulate when two people will fall in love. After finishing this lab, you should be able to understand the basic concepts of python programming and how to use it to solve real-world problems. Before you start, here are some important things you need to know:

- Please read the instructions and code templates carefully.
- Please make sure you run all the code cells from top to bottom.
- Please change the parts of the code that read `# CHANGE THIS` or `# YOUR CODE HERE`.

## Basic Syntax

In [1]:
# JUST RUN THE CODE TO SEE THE OUTPUT
boy_name = "Romeo"
girl_name = "Juliet"
print("Romeo and Juliet are in love.")
print(f"{boy_name} and {girl_name} are in love.")

Romeo and Juliet are in love.
Romeo and Juliet are in love.

In [8]:
# CHANGE THE VALUES
boy_name = "put your name here"
girl_name = "put your name here"
print("Romeo and Juliet are in love.")
print(f"{boy_name} and {girl_name} are in love.")

Romeo and Juliet are in love.
put your name here and put your name here are in love.

In [3]:
# notice we are not using quotes for numbers
a = 2
b = 3
c = a + b
d = True
e = False
print(a, b, c, d, e)
print("The sum of a and b is", c)
print("== means equal to", a == b)
print("== means equal to", c == a + b)
print("!= means not equal to", a != b)
print("> means greater than", a > b)
print("< means less than", a < b)

2 3 5 True False
The sum of a and b is 5
== means equal to False
== means equal to True
!= means not equal to True
> means greater than False
< means less than True

In [15]:
# Let's construct a list
list_of_numbers = [1, 2, 3, 4, 5]
print("The list of numbers is", list_of_numbers)
for x in list_of_numbers:
    print("-" * 10)
    print(x)
    print("My favorite number is", x)
    print(x+3)

The list of numbers is [1, 2, 3, 4, 5]
----------
1
My favorite number is 1
4
----------
2
My favorite number is 2
5
----------
3
My favorite number is 3
6
----------
4
My favorite number is 4
7
----------
5
My favorite number is 5
8

## When do two people fall in love?

It is safe to say that two people fall in love when they have a lot in common. Now, run the following code to see what kind of table we can create to represent the commonalities between two people.

In [3]:
import pandas as pd  # import the pandas library

names = ["Romeo", "Juliet", "Hamlet", "Ophelia"]
gender = ["male", "female", "male", "female"]
ages = [16, 14, 30, 28]
like_colors = ['red', 'red', 'blue', 'pink']

df = pd.DataFrame({
    "name": names,
    "gender": gender,
    "age": ages,
    "like_colors": like_colors
})

df

      name  gender  age like_colors
0    Romeo    male   16         red
1   Juliet  female   14         red
2   Hamlet    male   30        blue
3  Ophelia  female   28        pink

In [17]:
# to simulate a real world data, we write a function to generate random data
def generate_people(number_of_people: int):

    # import libraries we will use
    import random
    import pandas as pd

    # set random seed for reproducibility
    random.seed(666)

    # generate random names with 6 characters
    names = [''.join(random.choices('abcdefghijklmnopqrstuvwxyz', k=6)) for _ in range(number_of_people)]

    # generate ages between 16 and 60
    ages = [random.randint(16, 60) for _ in range(number_of_people)]

    # generate colors from rainbow colors
    rainbow_colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
    like_colors = [random.choice(rainbow_colors) for _ in range(number_of_people)]

    # generate genders (assuming binary gender)
    genders = [random.choice(['Male', 'Female']) for _ in range(number_of_people)]

    # Create a DataFrame
    df = pd.DataFrame({
        'Name': names,
        'Age': ages,
        'Like_Color': like_colors,
        'Gender': genders
    })

    return df

In [19]:
# CHANGE THE NUMBER OF PEOPLE
# please use an even number that is less or equal to 20
number_of_people = 4 
random_people = generate_people(number_of_people)
random_people

     Name  Age Like_Color Gender
0  lxlnvo   35     orange   Male
1  sdvkqx   29     indigo   Male
2  zazcre   55        red   Male
3  xpksnc   18       blue   Male

Now, I will generate a table that will have 20 observations and check if two people fall in love by:

- Checking if they have the same favorite color.
- Assuming the age difference is less than 5 years.
- No assumptions on gender, meaning that two people can fall in love regardless
    of their gender.

In [23]:
simulated_data = generate_people(20)
simulated_data

      Name  Age Like_Color  Gender
0   lxlnvo   41     yellow  Female
1   sdvkqx   34     orange    Male
2   zazcre   20     yellow    Male
3   xpksnc   22     indigo    Male
4   yiqdxn   24        red    Male
5   btvabt   34        red  Female
6   glfaln   46     yellow    Male
7   ytvxun   16     orange    Male
8   kyzczs   33      green    Male
9   ukxmln   46       blue  Female
10  lkwioj   56      green  Female
11  dntpwm   47      green    Male
12  jfmown   30        red    Male
13  suuzym   36     yellow  Female
14  xclkjh   17        red  Female
15  gbgglh   54     orange    Male
16  lmacuc   35     yellow  Female
17  uuikti   43        red  Female
18  zwvryq   55       blue    Male
19  sknyez   58      green  Female

Since we have 20 people, we will match each person with every other person to see if they can fall in love or not. Now, let's start from the first person - **lxlnov**.

In [50]:
# get lxlnov profile
lxlnov_profile = simulated_data[simulated_data['Name'] == 'lxlnvo'].copy()
lxlnov_profile['age_diff_with_lxlnvo'] = None
lxlnov_profile['color_match_with_lxlnvo'] = None
lxlnov_profile

     Name  Age Like_Color  Gender age_diff_with_lxlnvo color_match_with_lxlnvo
0  lxlnvo   41     yellow  Female                 None                    None

In [56]:
# begin the comparison
def match_profile_with_lxlnov(lxlnov_profile, simulated_data):

    # drop lxlnov from the simulated_data
    simulated_data = simulated_data[simulated_data['Name'] != 'lxlnvo']

    for i, row in simulated_data.iterrows():
        age_diff = abs(lxlnov_profile['Age'].values[0] - row['Age'])
        color_match = lxlnov_profile['Like_Color'].values[0] == row['Like_Color']
        temp_row = row.copy()
        temp_row['age_diff_with_lxlnvo'] = age_diff
        temp_row['color_match_with_lxlnvo'] = color_match

        # make temp_row a DataFrame
        temp_df = pd.DataFrame([temp_row])

        # append temp_df to lxlnov_profile
        lxlnov_profile = pd.concat([lxlnov_profile, temp_df], ignore_index=True)

    return lxlnov_profile

matched_profile = match_profile_with_lxlnov(lxlnov_profile, simulated_data)

matched_profile

,Name,Age,Like_Color,Gender,age_diff_with_lxlnvo,color_match_with_lxlnvo
0,lxlnvo,41,yellow,Female,None,None
1,sdvkqx,34,orange,Male,7,False
2,zazcre,20,yellow,Male,21,True
3,xpksnc,22,indigo,Male,19,False
4,yiqdxn,24,red,Male,17,False
5,btvabt,34,red,Female,7,False
6,glfaln,46,yellow,Male,5,True
7,ytvxun,16,orange,Male,25,False
8,kyzczs,33,green,Male,8,False
9,ukxmln,46,blue,Female,5,False
10,lkwioj,56,green,Female,15,False
11,dntpwm,47,green,Male,6,False
12,jfmown,30,red,Male,11,False
13,suuzym,36,yellow,Female,5,True
14,xclkjh,17,red,Female,24,False
15,gbgglh,54,orange,Male,13,False
16,lmacuc,35,yellow,Female,6,True
17,uuikti,43,red,Female,2,False
18,zwvryq,55,blue,Male,14,False
19,sknyez,58,green,Female,17,False

In [55]:
# only age_diff_with_lxlnvo <= 5 and color_match_with_lxlnvo == True
matched_profile[
    (matched_profile['age_diff_with_lxlnvo'] <= 5)
    & (matched_profile['color_match_with_lxlnvo'] == True)
    ]

,Name,Age,Like_Color,Gender,age_diff_with_lxlnvo,color_match_with_lxlnvo
6,glfaln,46,yellow,Male,5,True
13,suuzym,36,yellow,Female,5,True

The above code shows that there are 2 people who can fall in love with **lxlnov**:

- glfaln, with age 46 and favorite color yellow.
- suuzym, with age 36 and favorite color yellow.

## Why do people move to the big city?

People move to the big city for various reasons. Some people move to the big city to find love, while others move to the big city to find a job. In this lab, we will focus on the former. We will see whether the chances of finding love are higher in the big city than in the countryside.

In [59]:
def simiulate_big_city(population_size: int):

    # generate random data
    big_city_data = generate_people(population_size)

    # get one random profile
    one_profile = big_city_data.sample(1)

    print("One random profile from the big city data")
    print(one_profile)

    # get the matched profile
    matched_profile = match_profile_with_lxlnov(one_profile, big_city_data)

    # filter the matched profile

    matched_profile = matched_profile[
        (matched_profile['age_diff_with_lxlnvo'] <= 5)
        & (matched_profile['color_match_with_lxlnvo'] == True)
    ]

    return matched_profile

In [60]:
city_population = 500
city_matched_profile = simiulate_big_city(city_population)
city_matched_profile

One random profile from the big city data
       Name  Age Like_Color Gender
348  vexgif   60     indigo   Male

,Name,Age,Like_Color,Gender,age_diff_with_lxlnvo,color_match_with_lxlnvo
29,fhhnbd,55,indigo,Male,5.0,True
65,aqjjge,58,indigo,Female,2.0,True
74,hfldpa,60,indigo,Female,0.0,True
133,qdexdz,58,indigo,Male,2.0,True
145,bbvgno,55,indigo,Female,5.0,True
216,aohzcq,56,indigo,Male,4.0,True
229,rzhmcs,58,indigo,Male,2.0,True
254,nowyfu,57,indigo,Male,3.0,True
292,nhyybn,56,indigo,Male,4.0,True
319,mfdgzm,60,indigo,Female,0.0,True
338,ijdstu,57,indigo,Male,3.0,True
348,vexgif,60,indigo,Male,0.0,True
361,uojcon,55,indigo,Female,5.0,True
391,akkjnq,60,indigo,Male,0.0,True
444,pfnate,56,indigo,Male,4.0,True
473,lzuzzh,57,indigo,Male,3.0,True

## A little bit psychology

We have assumed that people fall in love when they have a lot in common. However, there are some theories that suggest that people fall in love when they are different. This is known as the "opposites attract" theory. For now, we will not
consider this theory. We will only consider the "birds of a feather flock together" theory.

To make our simulation more realistic, we will add five factors that could 'define'
our personality:

- **Openness**: How open-minded a person is.
- **Conscientiousness**: How organized and responsible a person is.
- **Extraversion**: How outgoing and social a person is.
- **Agreeableness**: How kind and compassionate a person is.
- **Neuroticism**: How sensitive and nervous a person is.

For each factor, we will assume it is a continuous variable between 0 and 100, where 0 is the lowest and 100 is the highest. **We also assume that the value of each factor is normally distributed.**

$$
\text{Factor} \sim \mathcal{N}(\mu = 50, \sigma = 10)
$$

where $\mu$ is the mean and $\sigma$ is the standard deviation.

From now on, we will drop color and focus on the five factors mentioned above.

In [3]:
def generate_people2(number_of_people: int):

    # import libraries we will use
    import random
    import pandas as pd

    # set random seed for reproducibility
    random.seed(666)

    # generate random names with 6 characters
    names = [''.join(random.choices('abcdefghijklmnopqrstuvwxyz', k=6)) for _ in range(number_of_people)]

    # generate ages between 16 and 60
    ages = [random.randint(16, 60) for _ in range(number_of_people)]

    # generate genders (assuming binary gender)
    genders = [random.choice(['Male', 'Female']) for _ in range(number_of_people)]

    # generate openess following a normal distribution with mean 50 and standard deviation 10
    openness = [random.gauss(50, 10) for _ in range(number_of_people)]

    # generate conscientiousness following a normal distribution with mean 50 and standard deviation 10
    conscientiousness = [random.gauss(50, 10) for _ in range(number_of_people)]

    # generate extraversion following a normal distribution with mean 50 and standard deviation 10
    extraversion = [random.gauss(50, 10) for _ in range(number_of_people)]

    # generate agreeableness following a normal distribution with mean 50 and standard deviation 10
    agreeableness = [random.gauss(50, 10) for _ in range(number_of_people)]

    # generate neuroticism following a normal distribution with mean 50 and standard deviation 10
    neuroticism = [random.gauss(50, 10) for _ in range(number_of_people)]

    # Create a DataFrame
    df = pd.DataFrame({
        'Name': names,
        'Age': ages,
        'gender': genders,
        'openness': openness,
        'conscientiousness': conscientiousness,
        'extraversion': extraversion,
        'agreeableness': agreeableness,
        'neuroticism': neuroticism
    })

    # round the values to 2 decimal places
    df = df.round(2)

    return df

In [4]:
size_of_population = 10
simulated_data2 = generate_people2(size_of_population)
simulated_data2

,Name,Age,gender,openness,conscientiousness,extraversion,agreeableness,neuroticism
0,lxlnvo,44,Male,54.19,47.48,64.85,62.06,60.06
1,sdvkqx,58,Female,33.18,57.49,59.72,35.79,48.78
2,zazcre,42,Female,72.75,57.36,64.41,38.06,54.78
3,xpksnc,36,Female,48.66,51.99,60.53,30.53,52.11
4,yiqdxn,26,Female,27.98,49.30,52.00,38.64,49.61
5,btvabt,36,Male,50.70,60.64,41.30,39.54,51.46
6,glfaln,29,Female,58.40,48.06,37.15,39.86,70.87
7,ytvxun,50,Female,56.37,60.70,60.60,56.61,30.54
8,kyzczs,38,Male,41.64,47.89,35.87,55.62,42.92
9,ukxmln,23,Female,54.52,50.46,74.85,47.27,50.37

## The Perfect Love

Now, we will define the perfect love. We will assume that two people fall in love when:

- The age difference is less than 5 years.
- The absolute difference between the two people's factors is less than 10.

Now, let's see whether we could find the perfect love for a random person.

In [68]:
def perfect_match(simulated_data, absolute_age_diff=5, absolute_personality_diff=10):

    # get a random profile
    one_profile = simulated_data.sample(1)

    print("One random profile from the simulated data")
    print(one_profile)

    # drop the random profile from the simulated_data
    simulated_data = simulated_data[simulated_data['Name'] != one_profile['Name'].values[0]]

    # get the matched profile
    for idx, row in simulated_data.iterrows():
        # age difference
        age_diff = abs(one_profile['Age'].values[0] - row['Age'])

        # personality difference
        personality_diff = abs(one_profile['openness'].values[0] - row['openness']) + \
                           abs(one_profile['conscientiousness'].values[0] - row['conscientiousness']) + \
                           abs(one_profile['extraversion'].values[0] - row['extraversion']) + \
                           abs(one_profile['agreeableness'].values[0] - row['agreeableness']) + \
                           abs(one_profile['neuroticism'].values[0] - row['neuroticism'])
        
        # make a copy of row
        temp_row = row.copy()

        # add age_diff and personality_diff to temp_row
        temp_row['age_diff'] = age_diff

        # add personality_diff to temp_row
        temp_row['personality_diff'] = personality_diff

        # make temp_row a DataFrame
        temp_df = pd.DataFrame([temp_row])

        # append temp_df to one_profile
        one_profile = pd.concat([one_profile, temp_df], ignore_index=True)

    
    # filter the matched profile
    matched_profile = one_profile[
        (one_profile['age_diff'] <= absolute_age_diff)
        & (one_profile['personality_diff'] <= absolute_personality_diff)
    ]

    return matched_profile

perfect_match(simulated_data2, absolute_age_diff=5, absolute_personality_diff=10)

One random profile from the simulated data
     Name  Age  gender  openness  conscientiousness  extraversion  \
2  zazcre   42  Female     72.75              57.36         64.41

   agreeableness  neuroticism
2          38.06        54.78

Empty DataFrame
Columns: [Name, Age, gender, openness, conscientiousness, extraversion, agreeableness, neuroticism, age_diff, personality_diff]
Index: []

In [79]:
# CHANGE THE VALUES
absolute_age_diff = 5
absolute_personality_diff = 20  # change this value to a number unitl you get a match

perfect_match(simulated_data2, absolute_age_diff, absolute_personality_diff)

One random profile from the simulated data
     Name  Age gender  openness  conscientiousness  extraversion  \
8  kyzczs   38   Male     41.64              47.89         35.87

   agreeableness  neuroticism
8          55.62        42.92

,Name,Age,gender,openness,conscientiousness,extraversion,agreeableness,neuroticism,age_diff,personality_diff
6,btvabt,36,Male,50.7,60.64,41.3,39.54,51.46,2.0,51.86

## Make it more realistic

Now, we will write a function that will generate people with the following characteristics:

- **Name**: A random string of 6 characters.
- **Gender**: Male or Female (randomly selected).
- **Age**: A random integer between 18 and 60.
- **Openness**: A random integer between 0 and 100.
- **Conscientiousness**: A random integer between 0 and 100.
- **Extraversion**: A random integer between 0 and 100.
- **Agreeableness**: A random integer between 0 and 100.
- **Neuroticism**: A random integer between 0 and 100.
- **Tolerance**: A random number between 10 and 70, which will be used to define the tolerance of the person (the lower the tolerance, the more picky the person is).
- **Income**: A random number between 1000 and 10000 for monthly income.

In [2]:
def generate_people3(number_of_people: int):

    # import libraries we will use
    import random
    import pandas as pd

    # set random seed for reproducibility
    random.seed(666)

    # generate random names with 6 characters
    names = [''.join(random.choices('abcdefghijklmnopqrstuvwxyz', k=6)) for _ in range(number_of_people)]

    # generate ages between 16 and 60
    ages = [random.randint(16, 60) for _ in range(number_of_people)]

    # generate genders (assuming binary gender)
    genders = [random.choice(['Male', 'Female']) for _ in range(number_of_people)]

    # generate openess following a normal distribution with mean 50 and standard deviation 10
    openness = [random.gauss(50, 10) for _ in range(number_of_people)]

    # generate conscientiousness following a normal distribution with mean 50 and standard deviation 10
    conscientiousness = [random.gauss(50, 10) for _ in range(number_of_people)]

    # generate extraversion following a normal distribution with mean 50 and standard deviation 10
    extraversion = [random.gauss(50, 10) for _ in range(number_of_people)]

    # generate agreeableness following a normal distribution with mean 50 and standard deviation 10
    agreeableness = [random.gauss(50, 10) for _ in range(number_of_people)]

    # generate neuroticism following a normal distribution with mean 50 and standard deviation 10
    neuroticism = [random.gauss(50, 10) for _ in range(number_of_people)]

    # generate tolerance following a normal distribution with mean 30 and standard deviation 5
    tolerance = [random.gauss(30, 7) for _ in range(number_of_people)]

    # generate income that follows log-normal distribution with mean 8 and standard deviation 1
    income = [random.lognormvariate(8, 1) for _ in range(number_of_people)]

    # Create a DataFrame
    df = pd.DataFrame({
        'id': range(1, number_of_people+1),
        'name': names,
        'age': ages,
        'gender': genders,
        'openness': openness,
        'conscientiousness': conscientiousness,
        'extraversion': extraversion,
        'agreeableness': agreeableness,
        'neuroticism': neuroticism,
        'tolerance': tolerance,
        'income': income
    })

    # round the values to 2 decimal places
    df = df.round(2)

    return df

In [3]:
# test the function
size_of_population = 10
simulated_data3 = generate_people3(size_of_population)
simulated_data3

,id,name,age,gender,openness,conscientiousness,extraversion,agreeableness,neuroticism,tolerance,income
0,1,lxlnvo,44,Male,54.19,47.48,64.85,62.06,60.06,26.12,2380.87
1,2,sdvkqx,58,Female,33.18,57.49,59.72,35.79,48.78,38.67,2368.11
2,3,zazcre,42,Female,72.75,57.36,64.41,38.06,54.78,35.11,3457.57
3,4,xpksnc,36,Female,48.66,51.99,60.53,30.53,52.11,24.65,1663.24
4,5,yiqdxn,26,Female,27.98,49.30,52.00,38.64,49.61,34.87,5824.89
5,6,btvabt,36,Male,50.70,60.64,41.30,39.54,51.46,25.78,344.15
6,7,glfaln,29,Female,58.40,48.06,37.15,39.86,70.87,30.07,1130.63
7,8,ytvxun,50,Female,56.37,60.70,60.60,56.61,30.54,41.47,794.91
8,9,kyzczs,38,Male,41.64,47.89,35.87,55.62,42.92,33.05,1670.66
9,10,ukxmln,23,Female,54.52,50.46,74.85,47.27,50.37,32.49,10647.44

## Our matching algorithm

Now, we will write a function that will match two people based on the following criteria:

- The age difference is less than 10 years.
- The absolute difference between the two people's factors is less than the tolerance of the person.
- The income difference is less than 1000.
- Only match people with different genders.

Unlike the previous matching process, we will not match each person with every other person. In real life, people do not have the time to meet everyone. Moreover, people do not have resources to meet everyone in the city. Therefore, we will only match a person within a group of 500 people. This means:

1. we will generate a table with the size of population say $N = 100,000$.
2. We will reshuffle the table and divide it into 200 groups, each with 500 people.
3. We will match each person with every other person in the group based on the criteria mentioned above.

In [4]:
size_of_population = 1e5  # 100,000
simulated_population = generate_people3(int(size_of_population))
simulated_population.shape

(100000, 11)

In [73]:
simulated_population.head()

,id,name,age,gender,openness,conscientiousness,extraversion,agreeableness,neuroticism,tolerance,income
0,1,lxlnvo,32,Female,27.19,49.96,65.06,81.45,66.60,45.86,4913.74
1,2,sdvkqx,60,Female,50.81,52.05,43.60,45.44,56.65,48.49,9617.37
2,3,zazcre,18,Female,47.01,46.69,40.06,43.19,61.13,42.45,2640.21
3,4,xpksnc,54,Male,57.58,40.67,31.10,40.11,47.86,37.48,2672.62
4,5,yiqdxn,55,Female,38.56,48.50,62.66,51.47,67.98,42.29,614.07

In [74]:
simulated_population.tail()

,id,name,age,gender,openness,conscientiousness,extraversion,agreeableness,neuroticism,tolerance,income
99995,99996,uwysqx,50,Male,50.17,36.02,31.71,57.68,63.58,39.17,699.26
99996,99997,pfzbvt,24,Male,66.40,64.14,37.86,45.08,42.60,42.54,6754.94
99997,99998,phetpo,52,Male,38.75,44.06,42.89,49.83,45.48,42.74,781.19
99998,99999,ezjtbt,44,Female,60.61,64.55,42.64,56.42,55.19,33.79,1104.77
99999,100000,inuntz,16,Male,42.71,69.00,68.67,40.08,34.33,43.51,2877.66

In [5]:
def match_maker(simulated_population, absolute_age_diff=10):

    import pandas as pd

    # get the size of the population
    size_of_population = simulated_population.shape[0]

    # shuffle the population
    simulated_population = simulated_population.sample(frac=1).reset_index(drop=True)

    # divide the population into groups, each group has 500 people
    group_size = 500
    number_of_groups = int(size_of_population / group_size)

    # create an empty DataFrame
    matched_profiles = pd.DataFrame()

    for i in range(number_of_groups):
        # get a group
        group = simulated_population.iloc[i * group_size: (i + 1) * group_size]


        # randomly select 50 profiles from the group
        selected_profiles = group.sample(100).copy()

        # drop the selected_profiles from the group
        group = group[~group['id'].isin(selected_profiles['id'])]

        # create a new column called 'matched_id' for the selected_profiles
        selected_profiles['matched_id'] = None
        selected_profiles['personality_diff'] = None
        selected_profiles['age_diff'] = None
        selected_profiles['income_diff'] = None

        for idx, row in selected_profiles.iterrows():

            # find the best match from the group for each row
            columns_idx = ['age', 'income', 'gender', 'openness', 'conscientiousness', 'extraversion',
                                            'agreeableness', 'neuroticism', 'income']
            
            for jdx, col in enumerate(columns_idx):
                if jdx == 2:
                    group[f'{col}_diff'] = (row[col] != group[col])
                else: 
                    group[f'{col}_diff'] = abs(row[col] - group[col])

                
            # create a new column by adding all the differences from openess to neuroticism
            group['personality_diff'] = group.iloc[:, 13:17].sum(axis=1)

            group['within_tolerance'] = group['personality_diff'] <= group['tolerance']

            # now filter the group
            mathced_group = group[
                (group['age_diff'] <= absolute_age_diff)
                & (group['within_tolerance'] == True) &
                (group['income_diff'] <= 1000) &
                (group['gender_diff'] == True)
            ]

            # rank the matched_group_idx by personality_diff, age_diff, income_diff
            mathced_group = mathced_group.sort_values(by=['personality_diff', 'age_diff', 'income_diff'], ascending=[True, True, True])

            if mathced_group.shape[0] > 0:
                best_match = mathced_group.head(1).copy()

                # update the matched_id
                selected_profiles.loc[idx, 'matched_id'] = best_match['id'].values[0]

                # update the personality_diff
                selected_profiles.loc[idx, 'personality_diff'] = best_match['personality_diff'].values[0]

                # update the age_diff
                selected_profiles.loc[idx, 'age_diff'] = best_match['age_diff'].values[0]

                # update the income_diff
                selected_profiles.loc[idx, 'income_diff'] = best_match['income_diff'].values[0]

                # drop the best_match from the group
                group = group[group['id'] != best_match['id'].values[0]]

        
        matched_profiles = pd.concat([matched_profiles, selected_profiles], ignore_index=True)


    return matched_profiles

In [6]:
# it will take some time to run, please be patient
foo = match_maker(simulated_population, absolute_age_diff=10)

In [7]:
foo.shape

(20000, 15)

In [8]:
foo[foo['matched_id'].notnull()].shape

(17609, 15)

In [9]:
foo.head()

,id,name,age,gender,openness,conscientiousness,extraversion,agreeableness,neuroticism,tolerance,income,matched_id,personality_diff,age_diff,income_diff
0,11064,zczczy,28,Female,32.67,53.08,42.21,45.01,22.63,38.32,207.03,37741,8.16,6,934.55
1,71744,psbrqc,45,Female,37.80,65.26,55.34,70.52,35.35,46.76,3039.66,93175,19.26,8,451.92
2,2923,aftchs,21,Male,40.51,55.45,51.17,21.11,62.40,26.95,7384.21,21289,14.22,5,822.82
3,99072,yqixuc,30,Female,46.97,49.60,46.38,32.44,46.33,32.08,447.91,54307,7.08,7,670.83
4,71402,nznyji,17,Male,44.17,37.12,34.04,53.01,46.85,30.11,1862.44,78385,20.64,1,581.45

In [10]:
foo.tail()

,id,name,age,gender,openness,conscientiousness,extraversion,agreeableness,neuroticism,tolerance,income,matched_id,personality_diff,age_diff,income_diff
19995,70277,lloxln,57,Male,64.75,57.08,43.23,38.71,43.95,32.15,3546.12,25473,28.99,9,424.06
19996,88672,zjineg,43,Female,47.07,53.94,58.64,44.15,50.38,24.02,537.49,44516,16.49,6,119.95
19997,54353,qkxlyo,56,Female,45.59,73.13,48.31,48.42,53.30,30.80,1452.79,48839,23.67,0,582.52
19998,93126,oojewk,40,Male,66.28,44.09,41.29,61.00,54.91,16.67,1392.97,95375,3.4,6,663.2
19999,9315,ovtusv,20,Male,58.54,51.26,50.42,37.02,48.75,27.86,11471.32,93396,24.14,6,104.76

In [15]:
foo.sample(5)

,id,name,age,gender,openness,conscientiousness,extraversion,agreeableness,neuroticism,tolerance,income,matched_id,personality_diff,age_diff,income_diff
8819,18327,skxxpq,58,Female,35.37,49.74,53.61,50.46,69.56,44.24,24590.85,None,None,None,None
4079,13861,qxdvlo,34,Female,48.73,44.24,23.97,56.23,45.02,24.21,413.11,41229,19.51,9,781.82
10147,26362,xypdbt,53,Male,53.66,53.38,60.49,32.00,46.28,31.27,7080.22,5046,10.37,5,397.1
10500,78811,uqjdby,58,Male,60.22,41.92,40.57,47.88,37.35,24.56,2178.19,82719,19.02,2,625.0
8887,89869,zgbgfp,30,Male,37.57,36.91,41.86,58.22,39.80,40.18,7117.74,5702,32.31,8,237.6

## Does Marriage make people happy?

It is tricky to answer this question. Some people say that marriage makes people happy, while others say that marriage makes people unhappy. In this lab, we will not answer this question. Instead, we will assume that happiness is a function of the following factors:

- **Income**: The higher the income, the happier the person is.
- **Age**: It follows a quadratic function, it goes down until 40 and then goes up.
- **Openness**: The higher the openness, the happier the person is.
- **agreeableness**: The higher the agreeableness, the happier the person is.
- **tolerance**: The higher the tolerance, the happier the person is.

Therefore the formula for happiness is:

$$
\text{Happiness} = 0.03 \times \text{Income} + 0.4 \times \text{Openness} + 0.32 \times \text{Agreeableness} + 0.57 \times \text{Tolerance} +  0.02 \times (\text{Age} - 40)^2 
$$

Now, let's write a function that will calculate the happiness of a person.

In [38]:
def calculate_happiness(dataframe):

    # calculate the happiness
    dataframe['happiness'] = 0.003 * dataframe['income'] +  0.4 * dataframe['openness'] + 0.32 * dataframe['agreeableness'] + 0.57 * dataframe['tolerance'] + 0.02 * (dataframe['age'] - 40)**2

    # round the values to 2 decimal places
    dataframe = dataframe.round(2)


    return dataframe

In [39]:
foo_happiness = calculate_happiness(foo)

In [44]:
foo_happiness.sample(5)

,id,name,age,gender,openness,conscientiousness,extraversion,agreeableness,neuroticism,tolerance,income,matched_id,personality_diff,age_diff,income_diff,happiness
19739,54637,ywendw,41,Male,43.78,48.76,46.46,56.19,50.97,24.63,1478.66,42449,6.94,2,938.05,53.99
11043,14328,xhznoq,25,Male,55.57,49.69,57.97,46.76,52.68,37.49,18974.01,None,None,None,None,119.98
6046,52683,bzdkjb,25,Male,48.45,60.46,48.60,43.15,42.30,27.84,5205.30,1728,20.26,1,391.77,69.17
17937,77918,xgfcjo,60,Female,56.31,53.72,48.20,51.96,35.75,23.13,1847.95,21424,13.68,8,468.58,65.88
13371,86210,wuxdym,44,Female,43.46,36.63,55.14,56.50,52.85,29.44,380.10,61430,5.18,5,560.59,53.71

## Save the data

Finally, we will save the data to a CSV file. We will save the following columns:

- id
- name
- age
- gender
- income
- openness
- conscientiousness
- extraversion
- agreeableness
- neuroticism
- tolerance
- matched_id
- happiness

In [45]:
final_data = foo_happiness[
    ['id', 'name', 'age', 'income', 'openness', 'conscientiousness', 'extraversion', 'agreeableness',
     'neuroticism', 'tolerance', 'matched_id', 'happiness']
]

final_data.head()

,id,name,age,income,openness,conscientiousness,extraversion,agreeableness,neuroticism,tolerance,matched_id,happiness
0,11064,zczczy,28,207.03,32.67,53.08,42.21,45.01,22.63,38.32,37741,52.81
1,71744,psbrqc,45,3039.66,37.80,65.26,55.34,70.52,35.35,46.76,93175,73.96
2,2923,aftchs,21,7384.21,40.51,55.45,51.17,21.11,62.40,26.95,21289,67.69
3,99072,yqixuc,30,447.91,46.97,49.60,46.38,32.44,46.33,32.08,54307,50.80
4,71402,nznyji,17,1862.44,44.17,37.12,34.04,53.01,46.85,30.11,78385,67.96

In [46]:
final_data.shape

(20000, 12)

In [48]:
# save to a csv file
final_data.to_csv('../data/marriage_data.csv', index=False)

## Reference of using ChatGPT

- https://chat.openai.com/share/e61b6ef7-30ee-4252-ada2-77f554513754