# Lab 0 - Part I: Drama of Love

In this lab, we will use python to simulate when two people will fall in love. After finishing this lab, you should be able to understand the basic concepts of python programming and how to use it to solve real-world problems. Before you start, here are some important things you need to know:

- Please read the instructions and code templates carefully.
- Please make sure you run all the code cells from top to bottom.
- Please change the parts of the code that read `# CHANGE THIS` or `# YOUR CODE HERE`.

## Basic Syntax

In [7]:
# JUST RUN THE CODE TO SEE THE OUTPUT
boy_name = "Romeo"
girl_name = "Juliet"
print("Romeo and Juliet are in love.")
print(f"{boy_name} and {girl_name} are in love.")

Romeo and Juliet are in love.
Romeo and Juliet are in love.

In [8]:
# CHANGE THE VALUES
boy_name = "put your name here"
girl_name = "put your name here"
print("Romeo and Juliet are in love.")
print(f"{boy_name} and {girl_name} are in love.")

Romeo and Juliet are in love.
put your name here and put your name here are in love.

In [3]:
# notice we are not using quotes for numbers
a = 2
b = 3
c = a + b
d = True
e = False
print(a, b, c, d, e)
print("The sum of a and b is", c)
print("== means equal to", a == b)
print("== means equal to", c == a + b)
print("!= means not equal to", a != b)
print("> means greater than", a > b)
print("< means less than", a < b)

2 3 5 True False
The sum of a and b is 5
== means equal to False
== means equal to True
!= means not equal to True
> means greater than False
< means less than True

In [4]:
# Let's construct a list
list_of_numbers = [1, 2, 3, 4, 5]
print("The list of numbers is", list_of_numbers)

The list of numbers is [1, 2, 3, 4, 5]

In [6]:
# Let's construct a dictionary
dictionary_of_numbers = {"one": 1, "two": 2, "three": 3}
print("The dictionary of numbers is", dictionary_of_numbers)
# here are keys and values
print("The keys are", dictionary_of_numbers.keys())
print("The values are", dictionary_of_numbers.values())

The dictionary of numbers is {'one': 1, 'two': 2, 'three': 3}
The keys are dict_keys(['one', 'two', 'three'])
The values are dict_values([1, 2, 3])

## When do two people fall in love?

It is safe to say that two people fall in love when they have a lot in common. Now, run the following code to see what kind of table we can create to represent the commonalities between two people.

In [9]:
import pandas as pd
names = ["Romeo", "Juliet", "Hamlet", "Ophelia"]
gender = ["male", "female", "male", "female"]
ages = [16, 14, 30, 28]
like_colors = ['red', 'red', 'blue', 'pink']

df = pd.DataFrame({
    "name": names,
    "gender": gender,
    "age": ages,
    "like_colors": like_colors
})

df

      name  gender  age like_colors
0    Romeo    male   16         red
1   Juliet  female   14         red
2   Hamlet    male   30        blue
3  Ophelia  female   28        pink